#FrontView{
    padding-left: 4%;
    padding-right: 4%;
}
.TextView{
    color: #66402B;
    font-weight: bolder;
   
}
.SubtextView{
    color: #7D5C3B;
}
.container-fluid{
    padding-left: 4%;
    padding-right: 4%;
}